DOMAIN=localhost

DEMO_HOST="demo.${DOMAIN}"

BTN_CTRL_CENTER_HOST="button.${DOMAIN}"
BTN_CTRL_CENTER_CONTEXT=../../btn_ctrl_center
BTN_CTRL_CENTER_DOCKERFILE=docker/Dockerfile
BTN_CTRL_CENTER_ENV=../btn_ctrl_center/.env
